{% extends "base_generic.html" %}

{% block content %}
<div>
    <h2>Selected Ride:</h2>
    <h3>Do you want to leave this RIDE?</h3>
    <p><strong>Ride ID:</strong> {{ ride_instance.ride_id }}</p>
    <p><strong>Owner:</strong> {{ride_instance.owner.get_username}}</p>
    <p><strong>Destination:</strong> {{ ride_instance.destination_addr }}</p>
    <p><strong>Arrival Time:</strong> {{ ride_instance.arrival_date}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
    </form>
</div>

<a href="{%url 'rides' %}">Back to the Rides List</a>
{% endblock %}