{% extends "base_generic.html" %}

{% block title %}
"Let's Ride"
{% endblock %}


{% block content %}
<h1>"Let's Ride"</h1>
<p>Welcome to Ride & share APP, a website developed by <em>Blue Devils</em>!</p>
<h2>Introduction</h2>

<p>This app can be used to: </p>
<ul>
    <li><strong>Request a ride</strong></li>
    <li><strong>Finding a ride</strong></li>
    <li><strong>Drive a ride</strong></li>
    <li><strong>Share a ride</strong></li>
</ul>

<!-- <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p> -->
{% endblock %}