{% extends "base_generic.html" %}

{% block content %}
<h1>Register:</h1>
{% if messages %}
{% for message in messages %}
{% if message.level == 40 %}
<p style="color: red; font-size: large; font-weight: bold; font-style: italic;">Sorry! {{message}} Please try again!</p>
{%endif%}
{% endfor %}
{% endif %}
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <table>
        {{ register_form.as_table }}
    </table>
    <br>
    <button class="btn btn-primary" type="submit">Register</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

<div>
    <p">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>


{% endblock %}